@model List<LongToShortUrl.Domain.Models.Url>

<h2>URL Shortener</h2>
<form asp-action="Create" method="post">
    <div>
        <label>Original URL:</label>
        <input type="text" name="originalURL" value="" required />
    </div>
    <div>
        <input type="submit" value="Convert" />
    </div>
</form>
<h2>Shortened URLs</h2>
<table>
    <tr>
        <th>Original URL</th>
        <th>Shortened URL</th>
    </tr>
    @foreach (var url in Model)
    {
        <tr>
            <td>@url.LongUrl</td>
            <td>@url.ShortUrl</td>
            </tr>
    }
</table>